# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/ProjetoZicard/FileContentIndex/2a2a0ae9-c036-4142-a540-706e29d68a6b.vsidx
/.vs/ProjetoZicard/FileContentIndex/5425befa-8f13-4a6b-b29c-9ebaf5157230.vsidx
/.vs/ProjetoZicard/FileContentIndex/da5e1b75-1222-40b2-8fa8-0124c14e93b1.vsidx
/.vs/ProjetoZicard/FileContentIndex/8631d325-e6fa-4aeb-9070-bb09089a7275.vsidx
/.vs/ProjetoZicard/FileContentIndex/76565c92-f0df-4892-acb3-054cc6aa4abf.vsidx
